---
- name: Nginx installation and Configuration
  hosts: web
  become: true
  gather_facts: true

 

  tasks:
    - name: EC2 Nginx install
      yum:
        name: nginx
        state: present
        