---
- name: Nginx installation and Configuration
  hosts: web
  become: true
  gather_facts: true

 

  tasks:
    - name: EC2 Nginx install
      yum:
        name: nginx
        state: present

    - name: Ensure Nginx is running
      yum:
        name: nginx
        state: started


- name: Java installation and Configuration
  hosts: app
  become: true
  gather_facts: true

  tasks:
    - name: EC2 Java install
      yum:
        name: java-17-amazon-corretto
        state: present

    - name: Ensure Java is running
      yum:
        name: java-17-amazon-corretto
        state: started


  