name: Asible Deploy

on:
  workflow_dispatch: {}
  push:
    branches:
      - main

jobs:
  run-ansible:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Create SSH key
        run: |
          mkdir -p /tmp/ssh
          echo "${{ secrets.EC2_PRIVATE_KEY }}" > /tmp/ssh/key.pem
          chmod 400 /tmp/ssh/key.pem
          ls -l /tmp/ssh/key.pem

      - name: Run Playbook
        run: 
          ansible-playbook -i inventories/dev.ini playbook.yml
   
